// COLORS
$dark-gray: rgb(4, 4, 4);
$gray: rgb(18,18,18);
$white: rgb(253, 253, 255);
$silver: rgb(198, 197, 185);
$accent: rgb(98, 146, 158); 
$light-gray: rgb(150,150,150);
// BORDERS
$br-6: 6px;
$br-active: $accent;

// PADDINGS
